*.db
*.sql
old*
temp*
*.db*
test*
temp*
torqfiskurdb*
__pycache__/
__pypackages__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
!?*.[Cc]ache/
!.axoCover/settings.json
!**/[Pp]ackages/build/
.*crunch*.local.xml
.apt_generated/
.autotools
.axoCover/*
.buildpath
.builds
.cache
.cache-main
.coverage
.coverage.*
.cproject
.cr/personal
.dmypy.json
.eggs/
.env
.externalToolBuilders/
.factorypath
.fake/
.hypothesis/
.idea_modules/
.idea/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.installed.cfg
.ipynb_checkpoints
.JustCode
.loadpath
.localhistory/
.metadata
.mfractor/
.mypy_cache/
.nox/
.ntvs_analysis.dat
.paket/paket.exe
.pybuilder/
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.qt_for_python/
.recommenders
.recommenders/
.ropeproject
.sass-cache/
.scala_dependencies
.scrapy
.settings/
.springBeans
.spyderproject
.spyproject
.target
.tern-project
.texlipse
.tox/
.venv
.vs/
.vscode/
.webassets-cache
.worksheet
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]cripts
[Tt]est[Rr]esult*/
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bak
*.bim_*.settings
*.bim.layout
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cachefile
*.cover
*.coverage
*.coveragexml
*.csv
*.dbmdl
*.dbproj.schemaview
*.dot
*.dotCover
*.DotSettings.user
*.e2e
*.egg
*.egg-info/
*.GhostDoc.xml
*.gpState
*.ilk
*.iobj
*.ipdb
*.iws
*.jfm
*.jmconfig
*.json
*.launch
*.ldf
*.log
*.manifest
*.mdf
*.meta
*.mm.*
*.mo
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.png
*.pot
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.py,cover
*.py[cod]
*.pyc
*.pydevproject
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sage.py
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.snupkg
*.so
*.spec
*.suo
*.svclog
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.toml
*.tss
*.txt
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
**/[Pp]ackages/*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
*~
*~.nib
*$py.class
/site
~$*
$tf/
AppPackages/
artifacts/
ASALocalRun/
asdf
atlassian-ide-plugin.xml
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bld/
build/
BundleArtifacts/
celerybeat-schedule
celerybeat.pid
ClientBin/
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage.xml
crashlytics-build.properties
crashlytics.properties
csx/
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dlldata.c
dmypy.json
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
docs/_build/
downloads/
ecf/
edtesting.session.sql
eggs/
env.bak/
env/
ENV/
fabric.properties
FakesAssemblies/
field*
fieldmapper.py
fieldmaps.py
gdrivetest01.py
Generated_Code/
Generated\ Files/
healthchecksdb
htmlcov/
instance/
ipch/
ipython_config.py
lib/
lib64/
local_settings.py
local.properties
MANIFEST
map*
MigrationBackup/
mo53torq/
mono_crash.*
nCrunchTemp_*
node_modules/
None
nosetests.xml
nunit-*.xml
oldstuff.py
OpenCover/
orleans.codegen.cs
out/
Package.StoreAssociation.xml
paket-files/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-wheel-metadata/
pips.txt
prof.html
profile_default/
profile1.out
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
pygi-convert.sh
pyinstro.html
pyspy.svg
pyvenv.cfg
rcf/
res2104.prof
result*
sdist/
ServiceFabricBackup/
share/python-wheels/
StyleCopReport.xml
target/
test*
TestResult.xml
tmp/
torq_torqlogs.sql
torq_torqlogs2.sql
torqdb9.odb
torqform.py
UpgradeLog*.htm
UpgradeLog*.XML
var/
venv.bak/
venv/
webtorq.py
wheels/
x64/
x86/
torqfiskur.db.old1
torqfiskur.db.old2
torqfiskur.db-journal
Untitled.ipynb
foo.html
torqdump0.sql
torqdump0test.sql
